<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>AddUpdate</title>
	<link href="../css/main.css" rel="stylesheet" type="text/css">
<link href="../css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
</head>

<body  style="padding-top: 70px; padding-bottom: 70px;">
	<div class="container">
	  <form>
		  <div class="row">
	    <div class="ExIn">	      
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" id="Expenses" aria-label="placeholder text" checked="true">
              </div>
            </div>
            <input type="text" disabled="disabled" class="form-control" placeholder="Expenses">
			  <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" id="Income" aria-label="placeholder text">
              </div>
            </div>
            <input type="text" class="form-control" disabled="disabled" placeholder="Income">
          </div>
	    </div>
    </div>
	  	 <div class="row">
	    <div class="">	      
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="label label-default" id="labeltype">Default Label</span>
              </div>
            </div>
            
		    <input type="input" class="form-control" id="input_amount" placeholder="0.00">
			  
          </div>
	    </div>
    </div>
		  <div class="row">
	    <div class="">	      
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="label label-default" id="labeltype">Remark</span>
              </div>
            </div>
            
		    <input type="input" class="form-control" id="input_Remark" placeholder="Remark">
			  
          </div>
	    </div>
    </div>
		    <div class="row">
		      <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" id="Expenses" aria-label="placeholder text" checked="true">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Expenses">
			  <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" id="Income" aria-label="placeholder text">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Income">
					<div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" id="Income" aria-label="placeholder text">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Income">
					<div class="input-group-prepend">
              <div class="input-group-text">
                <input type="radio" id="Income" aria-label="placeholder text">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="Income">
          </div>
				
		    </div>
		  
          
			  <div>
				<div class="row">
				  <div class="psbt" > <button type="submit" class="btn btn-primary" id="Submit">Submit</button>
					  &nbsp;
				  <button type="submit" class="btn btn-primary" id="Cancel">Cancel</button></div>
				</div>
			  </div>
	  
		  
      </form>
    </div>
<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap-4.4.1.js"></script>
<script src="../js/my.js"></script>
</body>
</html>
