<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Income</title>
	<link href="../css/main.css" rel="stylesheet" type="text/css">
<link href="../css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
</head>

<body class="mainbody" style="padding-top: 70px; padding-bottom: 70px;">
	<div class="container">
	<header>
	  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light"> <a class="navbar-brand" href="#">Expense Statistics</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
	      <ul class="navbar-nav mr-auto">
	        <li class="nav-item active"> <a class="nav-link" href="Home.html">Home <span class="sr-only">(current)</span></a> </li>
	        <li class="nav-item dropdown"> 
				
				<a class="nav-link dropdown-toggle" href="Statistic.html" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Statistics</a> 
			   <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
				  <a class="dropdown-item" href="Statistic.html">Year or Month Statistic</a> 
				  <a class="dropdown-item" href="ConsumptionAnalysis.html">Consumption Analysis</a>
	            <div class="dropdown-divider"></div></li>
			  
			  
			  <li class="nav-item"> <a class="nav-link" href="Income.html">Income</a> </li>
			  <li class="nav-item"> <a class="nav-link" href="Expenses.html">Expenses</a> </li>
	        <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="Type.html" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type</a>
	          <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
				  <a class="dropdown-item" href="Type.html">Type List</a>
				  <a class="dropdown-item" href="AddUpdateType.html">Add Type</a> 
	            <div class="dropdown-divider"></div>
<!--	            <a class="dropdown-item" href="#">Something else here</a> -->
			  </div>
            </li>
<!--	        <li class="nav-item"> <a class="nav-link disabled" href="#">Disabled</a> </li>-->
          </ul>
<!--
	      <form class="form-inline my-2 my-lg-0">
	        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
-->
        </div>
      </nav>
    </header>	
	<main>
		<form action="">
			<div class="row">
		<div class="col-xl-6"><a class="btn btn-dark" href="AddipdateIncome.html">Add</a></div>  
		<div class="col-xl-6"><div class="search">
			  <input type="checkbox" id="year" aria-label="placeholder text" checked="true">
			  <label>Year</label>
			  <input type="checkbox" id="month" aria-label="placeholder text" checked="true">
			  <label>Month</label>
			  <input type="month" id="dateMonth"  />&nbsp;
	  <button type="submit" id="Check" class="btn btn-dark">Check</button></div></div>  
		  
	  
</div></form>
	
		<div class="row">	
			<div class="title">
			<h3>Income Information</h3>
				<br>
				</div>
		</div>
				
		<div class="row">		
			 <div class="col-xl-2 border-dark"></div>  
	      <div class="col-xl-4">Income1</div>
	      <div class="col-xl-4">1</div>  
			 <div class="col-xl-2"></div>  
		</div>
		<div class="row">		
			 <div class="col-xl-2"></div>  
	      <div class="col-xl-4">Income2</div>
	      <div class="col-xl-4">2</div>  
			 <div class="col-xl-2"></div>  
		</div>
		<div class="row">		
			 <div class="col-xl-2"></div>  
	      <div class="col-xl-4">Income3</div>
	      <div class="col-xl-4">3</div>  
			 <div class="col-xl-2"></div>  
		</div>
		
		<div class="row">		
			<div class="col-xl-2"></div>  
	      <div class="col-xl-4">Total:</div>
	      <div class="col-xl-4">6</div> 
			<div class="col-xl-2"></div>  
		</div>
	</main>
	</div>
	<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap-4.4.1.js"></script>
<script src="../js/my.js"></script>
</body>
</html>
