<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>login</title>
<link href="../css/main.css" rel="stylesheet" type="text/css">
<link href="../css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
</head>

<body class="mainbody" style="padding-top: 70px; padding-bottom: 70px;" >
<div class="container">
  <header class="mainheader">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light"> 
		<a class="navbar-brand" href="#">Expense Statistics</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> 
			<span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
          <ul class="navbar-nav mr-auto">
          
          </ul>          
			<a class="btn-link" href="registration.html">Sign Up</a>
        </div>
    </nav>
  </header>
	<main>
		  
	  <div >
		   <br>
		    <div class="titile"><h2 >Login</h2></div>
			  <br>
	    </div>	  
	 
	 <form action="Home.html">
      <div class="form-group">
        <label for="exampleInputEmail1">EMAIL ADDRESS:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address">
         <br> </div>
	 <div class="form-group">
        <label for="exampleInputEmail1">PASSWORD:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="password">
        <br> </div>
      
      <div >
       
	  <a class="btn-link" href="#">Forgot your password?</a>
      </div>
	   <div >
      <button type="submit" onClick="logincheck()" class="btn btn-dark">Login</button>
		</div>
      </form>
  </main>
	<footer>
	  <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light"> 
	    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
			<ul class="navbar-nav mr-auto">
          		<div class="row">
			   <div class="col-xl-auto"> Copyright @Liang Jianquan</div>
			         
		      </div>
          </ul> 
		  </div>
	     
		 
      </nav>
		
    </footer>
		
</div>
<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap-4.4.1.js"></script>
</body>
</html>
