.mainbody {
    background-size: 100% 840px;
    background-repeat: no-repeat;
    background-image: url(../img/back.jpg);
}

.mainbody .container .mainheader {
    width: auto;
    height: 0px;
}
form div h2 {
    text-align: center;
    color: #FFFFFF;
   
}
main form .titile {
    text-align: center;
}
main div .titile {
    text-align: center;
}
main .row .search {
    text-align: right;
    width: 100%;
}
form .row .ExIn {
    width: 60%;
    text-align: center;
}
div .input-group #input_amount {
    text-align: right;
}
div .row .psbt {
    width: 100%;
    text-align: center;
}
div .input-group #input_Remark {
    width: 300px;
}
